<!DOCTYPE html>
<html>
    <head>
        <title>Add Employee</title>
    </head>
    <body>
        <head>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
			<br>
            <br>

            <center>
                <form action="" method="POST">
                    <fieldset style="width:270px">
                        <legend>Add Employee</legend>
                        <table>
                            <tr>
                                <td>Name: </td>
                                <td><input type="text" name="empName" value=""></td>
                            </tr>
                            <tr>
                                <td>Phone No.: </td>
                                <td><input type="text" name="empPhone" value=""></td>
                            </tr>
                            <tr>
                                <td>Username: </td>
                                <td><input type="text" name="empUsername" value=""></td>
                            </tr>
                            <tr>
                                <td>Password: </td>
                                <td><input type="password" name="empPassword" value=""></td>
                            </tr>
                            <tr>
                                <td colspan="2"><center><input type="submit" name="add" value="Add"> <input type="submit" name="cancel" value="Cancel"></center></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </center>
        </head>
    </body>
</html>